
# ==========================
# Ignorar toda la configuración local
conf/local/**
!conf/local/.gitkeep

# Archivos de credenciales (posibles sensitivos)
conf/**/*credentials*

# Ignorar carpetas de datos por defecto, pero permitir subcarpetas y metafiles DVC
data/**
!data/**/
!.gitkeep
# mantener datasets de ejemplo
!data/01_raw/anime_dataset_2023.parquet
!data/01_raw/users_details_2023.parquet
!data/01_raw/users_score_2023.parquet
# permitir metafiles DVC dentro de data
!data/**/*.dvc
# permitir cualquier .dvc en el repo
!*.dvc

# Ignorar metadatos de kedro-viz
.viz

# Archivos de logs
*.log
logs/

# ==========================
# Archivos y configuraciones comunes / IDEs
# ==========================
# IntelliJ / JetBrains
.idea/
*.iml
.idea_modules/
out/

# JIRA plugin
atlassian-ide-plugin.xml

# ==========================
# macOS
# ==========================
*.DS_Store
.AppleDouble
.LSOverride
.Trashes

# ==========================
# Editores
# ==========================
# Vim
*~
.*.swo
.*.swp

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# ==========================
# Extensiones C / binarios
# ==========================
*.so

# ==========================
# Python: compilados, build y empaquetado
# ==========================
__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# ==========================
# Pruebas unitarias / cobertura
# ==========================
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# ==========================
# Traducciones
# ==========================
*.mo
*.pot

# ==========================
# Frameworks web
# ==========================
# Django
.static_storage/
.media/
local_settings.py

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# ==========================
# Documentación y herramientas
# ==========================
docs/_build/
target/
.site

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints
.ipynb_checkpoints/

# ==========================
# Versiones de Python / entornos
# ==========================
.python-version

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv

# ==========================
# Otros
# ==========================
celerybeat-schedule
.mypy_cache/
mlruns/*